.redes_ul_img{
    width: 20px;
    height: 20px;
    transition: width 0,5s;
}
.redes_ul_img:hover{
    height: 25px;
    width: 25px;
}
h2{
    animation-duration: 4s;
    animation-name: efecto;
    animation-iteration-count: infinite;
}
@keyframes efecto {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

    .sidebar-2{
        p{
            animation-duration: 4s;
            animation-name: efecto;
            animation-iteration-count: infinite;
        }
    }
   

@keyframes efecto {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
