*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left bottom, #0838a0, #0049a5, #0058a7, #0065a6, #1e71a4);
    
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #000;
    font-family: "Roboto", sans-serif;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.video-youtube{
    border: 1px;
    width: 400px;
    height: 100px;
    padding-bottom: 56.26%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}
.video-youtube{ 
    iframe{
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}}
.youtube-wrapper{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 50%;
}
.contenedor { 
    .contenido {
        .parrafo{
    margin-top: 20px;
}}}
.contenedor {
    .contenido {
        .parrafo .parrafo-2{
    margin-top: 20px;
}}}

.contenedor > div,
.contenedor .header,
.contenedor .sidebar,
.contenedor .footer{

    
    padding: 20px;
    border-radius: 4px;
}

/*Creo un mapa */

$estilo:("p");

/*aplico each */

@each $estilos in $estilo {
    .sidebar #{$estilos} {
            font-weight: $fontw;
            font-family: $fontfamily;
            font-size: $fonttable;
        }
    }

//uso extend//
.contenedor{
    .widget-1 {
        background: #55a8fd;
        color: black;
        height: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-items: center;
        p{
            font-weight: bold;
            margin-top: 6px;
            margin-bottom: 5px;
        }
    
    }
    .widget-2 {
    @extend .widget-1;
    }
    ul{
        li{
            a{
                color: $black;
            }
        }
    }
}

  
h4{
    color: black;
}
 .redes_ul{
    margin: 15px;
    display: flex;
    justify-content: space-between 
}


.Cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .p-3{
        font-family: $fontfamily;
        color: $black;
        font-size: 2rem;
        text-align: center;
    }
}
.contenedor-button{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
.button{
    height: 60px;
    border-radius: 10px;
    background-color: red;
    color: $white;
    font-size: $fontsize;
    border: solid 2px black;
    
}
}
.padre{
    margin-top: 15px;
    margin-left: 50px;
}
.temario{
    margin-top: $margintop;
    font-size: $fontsize;
    margin-bottom: 10px;
    
    text-align: center;
}
section{
.comentarios{
    display: flex;
    justify-content: center;
    textarea{
        flex: auto;
    }
   
}
}
section{
    .value{
        margin-top: 15px;
    }
}
.Cotizaciones{
    background-color: white;
    
    div{
    
        p{
            line-height: 1.6rem;
            font-weight: 500;
            font-size: 1,4rem;
            color: #757575;
        }
    
}
}
.Cotizaciones{
    .h4{
        margin-bottom: 30px;
        font-size: 2,4rem;
        line-height: 2,6rem;
        color: black;
        font-weight: $fontw;
    }
}
.Cotizaciones {
    .Monedas{
        .contenedor-tabla{
            .contenedor-tabla--parrafo{
                text-align: center;
            }
        }
    }
}
.contenedor-tabla{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}
.contenedor-tabla--parrafo{
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: rgb(218, 147, 17);
}
.contenedor__tabla{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.contenedor__tabla {
    table{
    width: 100%;
    height: 100%;
}}
.contenedor__tabla {
    td{
    width: 50%;
    font-size: $fonttable;
    font-weight: 500;
    line-height: 1.9rem;
    color: rgb(179, 170, 170);
}}
.contenedor__tabla {
    .tabla__bitcoin--precio{
    font-size: $fonttable;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;}
}
.contenedor__tabla {
    .tabla__bitcoin--precio {
        .down{
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            background-image: url(/assets/icons/trending-down.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }}
    .contenedor__tabla{
        .tabla__ethereum--precio{
            @extend .tabla__bitcoin--precio;
            .up{
                background-image: url(/assets/icons/trending-up.svg);
                @extend .down;
            }
        }
        .tabla__Ripple--precio{
            @extend .tabla__bitcoin--precio;
            .down2{
                background-image: url(/assets/icons/trending-down.svg);
                @extend .down;
            }
        }
        .tabla__Stellar--precio{
            @extend .tabla__bitcoin--precio;
            .up2{
                background-image: url(/assets/icons/trending-up.svg);
                @extend .down;
            }
        }
    }
     .actualizado{
        width: 190px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 8px;
        border-radius: 8px;
    }
    .actualizado p{
        
        font-size: 1.2rem;
    }
    .contenido{
        .testimonios{
            text-align: center;
            margin-top: $margintop;
            line-height: $margintop;
            font-size: $fontsize;
            margin-bottom: 10px;
        }
    }


.sidebar-2{
    background-color: $sidebar;
    height: 700px;
    margin-top: 173px;
    p{
        font-size: 1.7rem;
    }
}
.nombre{
    margin-bottom: 10px;
}
.apellido{
    @extend .nombre;
}
.email{
    @extend .nombre;
}
.Estado-civil{
    @extend .nombre;
}
