/*Creo mi lista de variables que voy a usar en mi proyecto como una buna practica*/
/*Colores*/
    

$blue: #113686;
$white: #fff;
$sidebar: #FAA43D;
$black: black;
$beige: beige;
    
/*variables de tipografia para parrafo*/
$fontp: 25px;
$fontfamily: "Lato", sans-serif;
$fontw: normal ;

/*variables de tipografia para tablas*/
$fonttable: 20px;

/*variables de tipografia de texto*/
$fontsize: 25px;

 
/*variable de margin-to*/
$margintop: 1rem;